@import "default_colors";

header {
  h1:before {
    content: "{ ";
    color: $apple-blossom;
    font-size: 24px;
  }
  h1:after {
    content: " }";
    color: $apple-blossom;
    font-size: 24px;
  }
}

/* LINKS */
.current {
  color: $chelsea-cucumber;
  text-decoration: none;
}
a {
  color: #63c0f5;
  text-shadow: 0 0 5px rgba(104, 182, 255, 0.5);
}
a:hover {
  color: $alto;
  text-decoration: none;
}

ul h2 {
  a:visited {
    color: #666;
  }
  a:hover {
    color: $alto;
  }
}

nav a {
  margin-right: 1em;
}

header h1 {
  margin-left: 1%;
}

/* FOOTER */
.site-footer {
  text-align: center;
  .wrapper {
    margin: 0 auto;
    width: 80%;
    img {
      margin-top: 3%;
      width: 50px;
    }
  }
}

// MEDIA QUERY BREAK-POINTS
$screen660Width: 660px;
$screen480Width: 480px;


@media screen and (min-width: $screen660Width) {
  .floatLeft {
    float: left;
    text-align: left;
  }
  .floatRight {
    float: right;
    text-align: right;
  }
  .site-footer .wrapper img {
    margin-top: 1%;
  }
}






